{#content}
<div id="video-detail">
	<h1>{$video->title}</h1>
	<div class="container">
		<video src="{$basePath}/videos/{$video->path}" controls></video>
	</div>
	{$video->description}
	{$video->views}

	{control ratings}

	{control comments}
</div>