factories:
	components.ChangePassword: Form\ChangePassword
	components.login: Form\Login
	components.registration: Form\Registration
	components.changeDetails: Form\ChangeDetails

services:
	model.users: Model\Users