factories:
	components.ChangePassword: Form\ChangePassword
	components.login: Form\Login
	components.registration: Form\Registration
	components.ratings: Component\Ratings
	components.comments: Component\Comments

services:
	model.users: Model\Users
	model.videos: 
		class: Model\Videos
		setup:
			- $incomingDir(%appDir%/../incoming/)
			- $videosDir(%wwwDir%/videos/)
			- $thumbnailsDir(%wwwDir%/thumbnails/)