services:
	model.users: Model\Users
	model.ratings: Model\Ratings
	model.comments: Model\Comments
	model.videos:
		class: Model\Videos
		setup:
			- $incomingDir(%appDir%/../incoming/)
			- $videosDir(%wwwDir%/videos/)
			- $thumbnailsDir(%wwwDir%/thumbnails/)

	components.ChangePassword:
		class: Form\ChangePassword
		autowired: no


	components.login:
		class: Form\Login
		autowired: no

	components.registration:
		class: Form\Registration
		autowired: no

	components.ratings:
		class: Component\Ratings
		autowired: no

	components.comments:
		class: Component\Comments
		autowired: no

	components.changeDetails:
		class: Form\ChangeDetails
		autowired: no