includes:
	- czech.neon
	- components.neon

php:
	date.timezone: Europe/Prague

nette:
	session:
		debugger: true
		expiration: +7 days

services:
	loggerout:
		class: Monolog\Handler\StreamHandler('php://stdout')
		setup:
			- setFormatter(MonologCliFormatter())

	logger:
		class: Monolog\Logger('main')
		setup:
			- pushHandler()

	- FFMpeg\FFProbe::create()
	- FFMpeg\FFMpeg::create()



	# Authentications + Authorizations
	facebook: Facebook({appId: %facebook.appId%, secret: %facebook.secret%})
	openid: LightOpenID(http://%host%)
	facebookAuthenticator:
		class: Model\Security\Authenticator\Facebook
		autowired: false
	openIDAuthenticator:
		class: Model\Security\Authenticator\OpenID
		autowired: false

	user:
		class: Nette\Security\User
		arguments:
			- Model\Security\UserStorage()

		setup:
			- setAuthenticator(Model\Security\Authenticator\Password())
			- setAuthorizator(Model\Security\Authorizator())

	modelManager: Fabik\Database\ModelManager
	rowFactory: Fabik\Database\RowFactory({
		users: ActiveRow\User,
		videos: ActiveRow\Video,
		comments: ActiveRow\Comment
	})

	nette.template:
		setup:
			- registerHelperLoader('TemplateHelpers::loader')