includes:
	- czech.neon
	- components.neon

php:
	date.timezone: Europe/Prague

parameters:
	productionMode: true

nette:
	xhtml: false

	session:
		autoStart: smart

	database:
		default:
			dsn: '%database.driver%:host=%database.host%;dbname=%database.dbname%'
			user: %database.user%
			password: %database.password%
			options:
				sqlmode: STRICT_ALL_TABLES
				lazy: true

services:
		authenticator: Model\Security\Authenticator\Password
		database: @nette.database.default
		nette.userStorage: Model\Security\UserStorage

		modelManager: Fabik\Database\ModelManager
		rowFactory: Fabik\Database\RowFactory({
			users: ActiveRow\User
		})

factories:
	nette.latte:
		setup:
			- Assets::installMacros(@self::getCompiler(), %wwwDir%, %rootDir%, %productionMode%, ...)

	nette.template:
		setup:
			- registerHelperLoader('TemplateHelpers::loader')
