nette:
	database:
		dsn: 'mysql://host=localhost;dbname=mytube_development'
		user: mytube
		password: mytube

parameters:
	productionMode: false

	host: youtube.local

	facebook:
		appId: 0
		secret: 0