includes:
	- czech.neon

php:
	date.timezone: Europe/Prague

nette:
	xhtml: false
	session:
		autoStart: smart

	database:
		default:
			dsn: '%database.driver%:host=%database.host%;dbname=%database.dbname%'
			user: %database.user%
			password: %database.password%

	routing:
		routes:
			"<presenter>/<action>": Homepage:default

services:
		database: @Nette\Database\Connection
		authenticator: Model\Security\Authenticator\Password
		facebook: Facebook({appId: '274178996009668', secret: '8c7374433b9626254e2464021f5bb65c'})
		facebookAuthenticator:
			class: Model\Security\Authenticator\Facebook
			autowired: false

		#router: Nette\Application\Routers\CliRouter([action: Console::list])

		nette.database.default:
			setup:
				- query('SET sql_mode=STRICT_ALL_TABLES')
