<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title n:snippet="title">{ifset $title}{$title} - {/ifset}Trnila's sandbox</title>

		<link rel="stylesheet" href="{$basePath}/assets/stylesheets/application.css">

		<script src="{$basePath}/assets/components/jquery/jquery.js"></script>
		<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
		<script src="{$basePath}/assets/javascripts/application.js"></script>


		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	</head>
	<body>
		<div class="navbar navbar-fixed-top navbar-inverse">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" n:href="Homepage:">Administration</a>

					<ul class="nav">
						<li n:class="$presenter->isLinkCurrent('Dashboard:') ? active"><a n:href="Dashboard:">Home</a></li>
						<li n:class="$presenter->isLinkCurrent('Users:list') ? active" n:if="$user->isAllowed('user', 'list')"><a n:href="Users:list">Uživatelé</a></li>
					</ul>

					<ul class="nav pull-right">
						{if $user->isLoggedIn()}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								{$user->id} <i class="caret"></i>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a n:href=":Account:changeDetails">Změna detailu</a>
									<a n:href=":Account:changePassword">Změna hesla</a>
									<a n:href=":Sign:out">Odhlásit</a>
								</li>
							</ul>
						</li>
						{else}
							<li><a n:href=":Sign:in">Přihlásit se</a></li>
						{/if}
					</ul>
				</div>
			</div>
		</div>

		<div id="content" class="container">
			<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">
				{$flash->message}
			</div>

			{include content}
		</div>
	</body>
</html>
