/* line 3, ../sass/application.sass */
body {
  background-color: #eeeeee;
}

/* line 9, ../sass/application.sass */
#content, #video #video-detail {
  background-color: white;
  padding: 10px;
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 15, ../sass/application.sass */
#video-search {
  margin: 0px;
}
/* line 18, ../sass/application.sass */
#video-search input {
  margin-top: 4px;
}
/* line 21, ../sass/application.sass */
#video-search input.loading {
  background-image: url('../images/loading-dd6b7b0bf5c3af22499abc0a9ee1e1b2.gif');
  background-position: right center;
  background-repeat: no-repeat;
}

/* line 27, ../sass/application.sass */
.ratings-interact {
  width: 154px;
}
/* line 30, ../sass/application.sass */
.ratings-interact .progress {
  height: 10px;
}

/* line 33, ../sass/application.sass */
.video {
  display: inline-block;
  margin-bottom: 25px;
  -webkit-transition: background, 500ms;
  -moz-transition: background, 500ms;
  -o-transition: background, 500ms;
  transition: background, 500ms;
  border: 1px solid #f0f0f0;
  padding: 3px;
  width: 100%;
  height: 100px;
}
/* line 42, ../sass/application.sass */
.video video {
  width: 150px;
  height: 100%;
  float: left;
}
/* line 48, ../sass/application.sass */
.video .information .title {
  color: black;
  font-weight: bold;
  display: inline-block;
  width: 110px;
  height: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 58, ../sass/application.sass */
.video .information .duration {
  float: right;
  color: #999999;
}
/* line 62, ../sass/application.sass */
.video .information img, .video .information .icon-music {
  float: left;
  margin-right: 5px;
  width: 150px;
}
/* line 67, ../sass/application.sass */
.video .information img:not(:first-of-type), .video .information .icon-music:not(:first-of-type) {
  display: none;
}
/* line 70, ../sass/application.sass */
.video .information .icon-music {
  display: block;
  font-size: 150px;
  text-align: center;
}
/* line 76, ../sass/application.sass */
.video.reversed img, .video.reversed .icon-music {
  float: right;
}
/* line 79, ../sass/application.sass */
.video .ratings, .video .views {
  color: black;
}
@media screen and (max-width: 1200px) {
  /* line 33, ../sass/application.sass */
  .video {
    height: 130px;
  }
  /* line 83, ../sass/application.sass */
  .video .views, .video .duration {
    display: none;
  }
}
/* line 88, ../sass/application.sass */
.video:hover {
  text-decoration: none;
  background: whitesmoke;
}

/* line 92, ../sass/application.sass */
#video {
  position: relative;
}
/* line 95, ../sass/application.sass */
#video #video-delete {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  text-decoration: none;
}
/* line 102, ../sass/application.sass */
#video #video-delete:hover {
  color: red;
}
/* line 105, ../sass/application.sass */
#video #video-detail {
  position: absolute;
  top: 0;
  z-index: 2;
}
/* line 111, ../sass/application.sass */
#video #video-detail .container {
  width: 70%;
}
/* line 114, ../sass/application.sass */
#video #video-detail .container video, #video #video-detail .container audio {
  width: 100%;
}
/* line 118, ../sass/application.sass */
#video #video-detail .ratings-interact {
  float: right;
}
/* line 121, ../sass/application.sass */
#video #video-detail .tagit {
  border: none;
}
/* line 124, ../sass/application.sass */
#video #video-detail canvas {
  width: 100%;
  border-bottom: 1px solid black;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255, 255, 255, 0.25)));
}
/* line 129, ../sass/application.sass */
#video #left-suggested-videos {
  position: relative;
  left: -100px;
}
/* line 133, ../sass/application.sass */
#video #right-suggested-videos {
  position: absolute;
  right: -120px;
}
/* line 137, ../sass/application.sass */
#video [id$=-suggested-videos] {
  top: 30px;
}
/* line 140, ../sass/application.sass */
#video [id$=-suggested-videos] .video {
  position: relative;
  width: 300px;
  display: block;
  z-index: 0;
  -webkit-box-shadow: 2px 2px 3px #eeeeee;
  -moz-box-shadow: 2px 2px 3px #eeeeee;
  box-shadow: 2px 2px 3px #eeeeee;
}
/* line 147, ../sass/application.sass */
#video [id$=-suggested-videos] .video:hover {
  z-index: 3;
}

@media (max-width: 1200px) {
  /* line 151, ../sass/application.sass */
  #left-suggested-videos, #right-suggested-videos {
    display: none;
  }
}
/* line 156, ../sass/application.sass */
#video-comments form textarea {
  height: 60px;
  width: 400px;
}
/* line 160, ../sass/application.sass */
#video-comments form input[type=submit] {
  display: block;
}
/* line 164, ../sass/application.sass */
#video-comments .comment .footer {
  color: #999999;
  font-size: 11px;
}
/* line 168, ../sass/application.sass */
#video-comments .comment .footer a {
  color: #999999;
}

/* line 171, ../sass/application.sass */
.editable form input {
  border: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  width: inherit;
  padding: inherit;
  height: inherit;
}

/* line 181, ../sass/application.sass */
#profile-informations {
  margin-bottom: 40px;
}
/* line 184, ../sass/application.sass */
#profile-informations #map {
  box-shadow: 0px 0px 5px #333333;
  width: 100%;
  height: 270px;
}

/* line 191, ../sass/application.sass */
table .editable form {
  margin: 0px;
  padding: 0px;
  display: inherit;
  width: 100%;
  height: inherit;
}
/* line 198, ../sass/application.sass */
table .editable form input, table .editable form select {
  height: inherit;
  margin: inherit;
  width: 100%;
}

/* line 204, ../sass/application.sass */
#video-upload input[type=text], #video-upload textarea {
  width: 98%;
}
/* line 207, ../sass/application.sass */
#video-upload textarea {
  height: 50px;
}
/* line 210, ../sass/application.sass */
#video-upload input[type=file] {
  display: none;
}

/* line 215, ../sass/application.sass */
#admin-users-list tr td {
  width: 20%;
}
