@import url(../components/bootstrap/docs/assets/css/bootstrap.css);
@import url(../components/font-awesome/css/font-awesome.css);
/* line 5, ../sass/application.sass */
body {
  background-color: #eeeeee;
}

@media(min-width:980px) {
  /* line 9, ../sass/application.sass */
  body {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

/* line 13, ../sass/application.sass */
#content {
  background-color: white;
  padding: 10px;
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
