@import compass

body
	background-color: #eeeeee


#content
	background-color: white
	padding: 10px
	border: 1px solid #d5d5d5
	+border-radius(5px)

#video-search
	input
		&.loading
			background:
				image: image-url("loading.gif")
				position: right 3px center
				repeat: no-repeat

.ratings-interact
	.progress
		height: 10px

.video
	display: inline-block
	margin-bottom: 25px
	+transition(background, 500ms)
	padding: 3px
	width: 100%
	height: 135px
	overflow: hidden
	position: relative
	color: black

	.video-title
		color: black
		font-weight: bold
		display: inline-block
		width: 80%
		height: 19px
		overflow: hidden
		text-overflow: ellipsis
		white-space: nowrap
		font-size: 15px

	.video-thumbnail
		img
			float: left
			margin-right: 5px
			width: 100%

			&:not(:first-of-type)
				display: none

		.fa
			display: block
			font-size: 90px
			text-align: center

	.video-duration
		position: absolute
		top: 0px
		right: 2px
		color: #999

	.video-ratings
		.video-ratings-positive
			color: #5cb85c

		.video-ratings-negative
			color: #d2322d

	&.reversed
		img, .icon-music
			float: right

	&:hover
		text-decoration: none
		background: whiteSmoke
		color: black

#video
	position: relative

	.panel-body, .panel-heading
		position: relative
		z-index: 2

	.panel-body
		background: white

	#left-suggested-videos
		position: absolute
		left: -100px

	#right-suggested-videos
		position: absolute
		right: -120px

	[id$=-suggested-videos]
		top: 30px

		.video
			position: relative
			width: 300px
			display: block
			z-index: 0
			+box-shadow(2px 2px 3px #eee)

			&:hover
				z-index: 3

@media (max-width: 1200px)
	#left-suggested-videos, #right-suggested-videos
		display: none

#video-comments
	form
		textarea
			height: 60px
			width: 100%

	.comment
		.footer
			color: #999
			font-size: 11px

			a
				color: #999

#profile-informations
	margin-bottom: 40px