@import compass

body
	background-color: #eeeeee

@media(min-width:980px)
	body
		margin-top: 60px
		margin-bottom: 60px

#content
	background-color: white
	padding: 10px
	border: 1px solid #d5d5d5
	+border-radius(5px)

.ratings
	width: 154px

	a:not([href])
		cursor: default

	.progress
		height: 10px

.video
	display: inline-block
	border: 1px solid black

	img
		float: left
		margin-right: 5px

		&:not(:first-of-type)
			display: none

	.title
		color: black
		font-weight: bold

	.duration
		color: #999


	&:hover
		text-decoration: none

#video-detail
	position: relative

	.container
		width: 70%

		video
			width: 100%


	.ratings
		position: absolute
		right: 0px

#video-comments
	form
		textarea
			height: 60px
			width: 400px

		input[type=submit]
			display: block

	.comment
		.footer
			color: #999
			font-size: 11px

			a
				color: #999

canvas
	border-bottom: 1px solid black
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.2)))
