@import compass
@import admin.sass
@import tagit.sass

body
	background-color: #eeeeee

@media(min-width:980px)
	body
		margin-top: 60px
		margin-bottom: 60px

$width: 1170px

#content
	background-color: white
	padding: 10px
	border: 1px solid #d5d5d5
	+border-radius(5px)

#video-search
	margin: 0px

	input
		margin-top: 4px

		&.loading
			background:
				image: image-url("loading.gif")
				position: right center
				repeat: no-repeat

.ratings-interact
	width: 154px

	.progress
		height: 10px

.video
	display: inline-block
	margin-bottom: 25px
	+transition(background, 500ms)
	border: 1px solid #F0F0F0
	padding: 3px
	width: 100%
	height: 100px

	video
		width: 150px
		height: 100%
		float: left

	.information
		.title
			color: black
			font-weight: bold
			display: inline-block
			width: 110px
			height: 19px
			overflow: hidden
			text-overflow: ellipsis
			white-space: nowrap

		.duration
			float: right
			color: #999

		img, .icon-music
			float: left
			margin-right: 5px
			width: 150px

			&:not(:first-of-type)
				display: none

		.icon-music
			display: block
			font-size: 150px
			text-align: center

	&.reversed
		img, .icon-music
			float: right

	.ratings, .views
		color: black

	&:hover
		text-decoration: none
		background: whiteSmoke

#video
	position: relative

	#video-delete
		position: absolute
		right: 10px
		top: 10px
		font-size: 20px
		text-decoration: none

		&:hover
			color: red

	#video-detail
		position: absolute
		top: 0
		z-index: 2
		width: 1170px
		@extend #content

		.container
			width: 70%

			video, audio
				width: 100%


		.ratings-interact
			float: right

		.tagit
			border: none

		canvas
			width: 100%
			border-bottom: 1px solid black
			-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.25)))

	#left-suggested-videos
		position: relative
		left: -100px

	#right-suggested-videos
		position: absolute
		right: -120px

	[id$=-suggested-videos]
		top: 30px

		.video
			position: relative
			width: 300px
			display: block
			z-index: 0
			+box-shadow(2px 2px 3px #eee)

			&:hover
				z-index: 3

@media (max-width: 1300px)
	#left-suggested-videos, #right-suggested-videos
		display: none

#video-comments
	form
		textarea
			height: 60px
			width: 400px

		input[type=submit]
			display: block

	.comment
		.footer
			color: #999
			font-size: 11px

			a
				color: #999

.editable form input
	border: inherit
	font-size: inherit
	font-family: inherit
	font-weight: inherit
	color: inherit
	width: inherit
	padding: inherit
	height: inherit

#profile-informations
	margin-bottom: 40px

	#map
		box-shadow: 0px 0px 5px #333
		width: 100%
		height: 270px

table
	.editable
		form
			margin: 0px
			padding: 0px
			display: inherit
			width: 100%
			height: inherit

			input, select
				height: inherit
				margin: inherit
				width: 100%

#video-upload
	input[type=text], textarea
		width: 98%

	textarea
		height: 50px

	input[type=file]
		display: none

#admin-users-list
	tr
		td
			width: 20%
