<div class="ratings">
	<a{if !$positiveRate} href="{link rate!, positive => true}"{/if} n:class="btn, $positiveRate ? active"><i class="icon-thumbs-up"></i> like</a>
	<a{if !$negativeRate} href="{link rate!, positive => false}"{/if} n:class="btn, $negativeRate ? active"><i class="icon-thumbs-down"></i> dislike</a>

	<div class="progress" n:if="$total > 0">
		<div class="bar bar-success" style="width: {!$positive / ($total) * 100}%"></div>
		<div class="bar bar-danger" style="width: {!$negative / ($total) * 100}%"></div>
	</div>
</div>