Dobrý den <strong>{$u->getFullName()}</strong>,
na základě vaší žádosti vám posílame odkaz na <a href="{$link}">obnovu zapomenutého hesla</a> v aplikaci <a n:href="//Homepage:">MyTube</a>.
<br><hr>
V případě že jste totu změnu nezažádali, ignorujte tento email.