{var $title => 'Reset hesla'}

{block content}
<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-undo"></i> Reset hesla</h3>
			</div>
			<div class="panel-body">
				{include ../components/form.latte, form => 'resetPassword'}
			</div>
		</div>
	</div>
</div>