{block head}
	<meta name="robots" content="noindex, nofollow">
{/block}

{block content}
<div id="error-page">
	<h1>500</h1>
	<h2>Chyba aplikace.</h2>
	<p>
		Pokuste se akci opakovat za chvíly.
	</p>
</div>