<div id="video-comments">
	<h2><i class="fa fa-comments"></i> Komentáře</h2>
	<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">
		{$flash->message}
		<a class="close" data-dismiss="alert" href="#">&times;</a>
	</div>

	{snippet comments}
	<div class="comment media" n:snippet="form" n:if="$user->isLoggedIn()">
		<form n:name="form" class="ajax">
			<div class="pull-left">
				{if $user->identity->avatar}
					<img src="{$basePath}/{Model\Entity\User::formatAvatarLocation($user->id, $user->identity->avatar)}" width="45">
				{else}
					<i class="fa fa-user" style="font-size: 35px"></i>
				{/if}
			</div>
			<div class="media-body" style="padding-left: 5px">
				<textarea n:name="text" placeholder="Text komentáře..." class="form-control autogrow" rows="3"></textarea>
				<button n:name="add" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> {$form['add']->caption}</button>
			</div>
		</form>
	</div>

	<div class="comment media" n:foreach="$comments as $comment">
		<div class="pull-left">
			{if $comment->user->avatar}
				<img src="/{$comment->user->getAvatarLocation()}" width="45" alt="{$comment->user->getFullName()}">
			{else}
				<i class="fa fa-user" style="font-size: 35px"></i>
			{/if}
		</div>
		<div class="media-body">
			{$comment->text|escape|nl2br|noescape}
			<div class="footer">
				<a href="{plink Profile:show, $comment->user_id}">{$comment->user->username}</a> {$comment->created|timeAgo}
				{if $user->isAllowed($comment, 'delete')} | <a n:href="delete!, id => $comment->id" class="ajax" data-confirm="Opravdu smazat komentář?"><i class="fa fa-trash-o"></i></a>{/if}
			</div>
		</div>
	</div>

	{if !$iterations}
		<div class="alert alert-info">
			Nikdo zatím nepřidal komentář.
		</div>
	{/if}

	{/snippet}
</div>