<div id="video-comments">
	<h2>Komentáře</h2>
	<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">
		{$flash->message}
		<a class="close" data-dismiss="alert" href="#">&times;</a>
	</div>

	{snippet comments}
	<div class="comment" n:foreach="$comments as $comment">
		{$comment->text}
		<div class="footer">
			<a href="{plink Profile:show, $comment->user_nickname}">{$comment->user_nickname}</a> {$comment->created|timeAgo}
			{if $user->isAllowed($comment, 'delete')} | <a n:href="delete!, id => $comment->id" class="ajax"><i class="icon-trash"></i></a>{/if}
		</div>
	</div>
	{/snippet}

	{snippet form}
	{if $user->isLoggedIn()}
		{form form class => ajax}
			{input text}
			<input n:name="add" class="btn btn-primary">
		{/form}
	{/if}
	{/snippet}
</div>