{block #content}
<h1>Trnila's nette sandbox</h1>

{control upload}

{foreach $videos as $video}
<div>
	<a n:href="Video:show, $video->id">{$video->title}</a>
	<img src="{$basePath}/thumbnails/{$video->related('thumbnails')->fetch()->path}">
</div>
{/foreach}