{block #content}
<h1>Trnila's nette sandbox</h1>

{foreach $videos as $video}
<a n:href="Video:show, $video->id" class="video">
	<span class="title">{$video->title}</span>
	<img src="{$basePath}/thumbnails/{$thumbnail->path}" n:foreach="$video->related('thumbnails') as $thumbnail">
	<span class="duration">{$video->duration|duration}</span>
</a>
{/foreach}