<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title n:snippet="title">{ifset $title}{$title} - {/ifset}Trnila's sandbox</title>
		
		{stylesheet}
		{javascript}
		

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	</head>
	<body>
		<div class="navbar navbar-fixed-top navbar-inverse">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" n:href=":Homepage:">Sandbox</a>
					
					<ul class="nav">
						<li n:class="$presenter->isLinkCurrent(':Homepage:') ? active"><a n:href=":Homepage:">Home</a></li>
					</ul>

					<ul class="nav pull-right">
						{if $user->isLoggedIn()}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								{$user->id} <i class="caret"></i>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a n:href=":Account:changePassword">Změna hesla</a>
									<a n:href=":Sign:out">Odhlásit</a>
								</li>
							</ul>
						</li>
						{else}
							<li><a n:href=":Sign:in">Přihlásit se</a></li>
						{/if}
					</ul>
				</div>
			</div>
		</div>

		<div id="content" class="container">
			<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">
				{$flash->message}
			</div>

			{include #content}
		</div>
	</body>
</html>
