<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title n:snippet="title">{ifset $title}{$title} - {/ifset}Youtube</title>

		<!-- bower:css -->
		<link href="{$basePath}/assets/components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
		<link href="{$basePath}/assets/components/select2/select2.css" rel="stylesheet">
		<!-- endbower -->
		<link href="{$basePath}/assets/components/font-awesome/css/font-awesome.css" rel="stylesheet">
		<link href="{$basePath}/assets/components/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
		<link rel="stylesheet" href="{$basePath}/assets/stylesheets/application.css">

		<!-- bower:js -->
		<script src="{$basePath}/assets/components/jquery/jquery.js"></script>
		<script src="{$basePath}/assets/components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="{$basePath}/assets/components/select2/select2.js"></script>
		<script src="{$basePath}/assets/components/jquery-ui/ui/jquery-ui.js"></script>
		<!-- endbower -->
		<script src="{$basePath}/assets/components/nette.ajax.js/nette.ajax.js"></script>
		<script src="{$basePath}/assets/components/autogrow-textarea/jquery.autogrowtextarea.js"></script>
		<script src="{$basePath}/assets/components/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.js"></script>
		<script src="{$basePath}/assets/javascripts/application.js"></script>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	</head>
	<body>
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" n:href=":Homepage:">MyTube</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li n:class="$control->isLinkCurrent(':Homepage:') ? active"><a n:href=":Homepage:">Home</a></li>
					<li n:class="$presenter->isLinkCurrent(':Admin:Users:list') ? active" n:if="$user->isAllowed('user', 'list')"><a n:href=":Admin:Users:list">Uživatelé</a></li>
				</ul>

				<form class="navbar-form navbar-left" role="search" action="{$basePath}/search" id="video-search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Hledat..." name="query">
					</div>
				</form>

				<ul class="nav navbar-nav navbar-right">
					{if $user->isLoggedIn()}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								{$user->identity->username} <i class="caret"></i>
							</a>
							<ul class="dropdown-menu">
								<li><a n:href=":Video:add">Přidat video</a></li>
								<li><a n:href=":Profile:show, $user->id">Můj profil</a></li>
								<li><a n:href=":Account:changePassword">Změna hesla</a></li>
								<li class="divider"></li>
								<li><a n:href=":Sign:out"><i class="fa fa-sign-out"></i> Odhlásit</a></li>
							</ul>
						</li>
						{else}
							<li><a n:href=":Sign:in"><i class="fa fa-sign-in"></i> Přihlásit se</a></li>
						{/if}
				</ul>
			</div><!-- /.navbar-collapse -->
		</nav>

		<div class="container">
			{include #content}
		</div>
	</body>
</html>