{foreach $videos as $video}
	{if $iterator->isFirst(4)}<div class="row">{/if}
	<div class="col-md-3">
		{include _video.latte, 'video' => $video}
	</div>
	{if $iterator->isLast(4)}</div>{/if}
{/foreach}